<div class="message-container" id="message-<%= message.id %>">
  <% if message.user.id == current_user.id %>
    <blockquote class="chat-bubble-user d-flex justify-content-between">
      <div class="w-100">
        <p><%= message.content %></p>
        <cite> Moi - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></cite>
      </div>
      <div class="d-flex align-items-center mx-1">
        <%= avatar_navbar(current_user) %>
      </div>
    </blockquote>
  <% else %>
    <blockquote class="chat-bubble d-flex">
      <div class="d-flex align-items-center mx-1">
          <%= avatar_navbar(message.user) %>
      </div>
      <div>
        <p><%= message.content %></p>
        <cite><%= message.user.username %> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></cite>
      </div>
    </blockquote>
  <% end %>
</div>
